*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.book-card{
  border:1px solid lightgray;
  border-radius: 1px;
  box-shadow: 5px 5px 5px rgb(204, 193, 193);
  padding: 20px;
  margin: 10px;
  text-align: center;
  width:300px;
  height: 400px;
  display: inline-block;
  transition: transform 0.3s ease-in;
 

}

.book-card:hover{
  transform: scale(1.1);

}
.book-card h5{
  margin-top:10px;
  
}
.book-card p{
  margin:0;
  
}
.book-card-img{
  width: 70%;
  height: 70%;
  object-fit: cover;
  margin-bottom: 5px;

}
.book-card-title{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color:black
}
.book-card-desc{
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(82, 77, 77)
}

.delete-btn {
  background-color: #e74c3c;  
  color: white;              
  padding: 5px 5px;       
  border: none;               
  border-radius: 5px;      
  cursor: pointer;           
  font-size: 16px;            
  transition: background-color 0.3s, transform 0.2s; 
  width: 60px;  
  margin: 10px 15px 15px 0px;
}

/* Hover effect */
.delete-btn:hover {
  background-color: #c0392b;  
  transform: scale(1.05);      
}
.edit-btn {
  background-color: #3ca3e7;  
  color: white;    
  text-align: center;           
  padding: 5px 5px;        
  border: none;               
  border-radius: 5px;         
  cursor: pointer;           
  font-size: 16px;        
  transition: background-color 0.3s, transform 0.2s;
  width: 60px;    
  margin: 10px 5px 5px 5px;
}

/* Hover effect */
.edit-btn:hover {
  background-color: #3ca3e7;  
  transform: scale(1.05);      
}

.back-btn {
  background-color: #62c767;  
  color: white;    
  text-align: center;           
  padding: 5px 5px;        
  border: none;               
  border-radius: 5px;         
  cursor: pointer;           
  font-size: 16px;        
  min-width: 60px;    
  margin: 10px 5px 5px 5px;
  text-decoration: none;

}

/* View Book Details */
.book-details-container{
  border:1px solid lightgray;
  border-radius: 1px;
  box-shadow: 5px 5px 5px rgb(204, 193, 193);
  padding: 20px;
  margin: auto;
  text-align: Left;
  width:300px;
  height: 400px;
  display: block;
}

.Footer{
  margin: 10px;
  
  background-color: rgb(63, 125, 241);
  color:#fff;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  padding: 0px;
}

/* Navbar styles*/
.nav{
  margin: 10px;
  background-color: rgb(63, 125, 241);
  color:#fff;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 18px;
  gap:2rem;
  padding: 0 10px;

}
.logo{
  font-size: 32px;
  color: #fff;
  font-weight: 700;
}
.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap:1rem;
  font-size: 18px;

}
.nav a{
  text-decoration: none;
  align-items: center;
  padding: 0.25rem;
  position: relative;
  margin-left: 10px;
  font-size: 18px;
  color: #fff;
  
}
.nav li{
  font-size: 18px;
}
.nav li:hover{
  color: #9fcbe9;
  text-decoration: none;
  cursor: pointer;
  

}



.about-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.about-content {
  margin-top: 20px;
}
.about-content h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}
.about-content h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}
.image-container {
  margin-top: 20px;
}

/* Styling for the image */
.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.about-content p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 20px;
}
.about-content ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 1.1em;
  line-height: 1.6;
}

.about-content li {
  margin-bottom: 10px;
}